:root {
    --sidebar-width: 20%;
    --sidebar-min-width: 200px;
    --sidebar-text-color: #DDDDDD;
    --sidebar-selected-color: #FFFFFF;
}


.fullscreen {
    --sidebar-width: 0px;
    --sidebar-min-width: 0px;
}

.sidebar {
    color: var(--sidebar-text-color);
    display: inline-block;
    vertical-align: top;
    width: var(--sidebar-width);
    min-width: var(--sidebar-min-width);
    background: rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    height: 100vh;
}

.fullscreen .sidebar {
    display: none;
}

.sidebar .name {
    padding: 16px;
    font-weight: 600;
    font-size: 25px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 4px 16px;
}

.sidebar li:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.sidebar li.selected {
    font-weight: 600;
    color: var(--sidebar-selected-color);
}

@media only screen and (max-width: 500px) {
    :root {
        --sidebar-width: 0px;
        --sidebar-min-width: 0px;
        --tile-width: calc(50vw - var(--tile-gap) * 2);
        --tile-height: calc((50vw - var(--tile-gap) * 2) * 0.4285);
    }

    .sidebar {
        display: none;
    }

    .sidebar.show {
        display: block;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 240px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .sidebar .name {
        text-indent: 30px;
    }
}